body {
    background: white;
  }
  p {
    color: black;
    font-family: Chicken Pie;
  }
  h1 {
    font-weight: bold;
  }
  
  .navigator {
    
  }
@font-face {
  font-family: Chicken Pie;
  src: url(chicken_pie/CHICKENPie.otf);
}
